* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* MARGINS ON SIDES */

.container_landing {
    margin-left: 20vw;
    margin-right: 20vw;
}

/* HEADER WITH NAV AND BRAND */

header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 80px;
}

.nav_brand {
    margin: 0 20vw 0 20vw;
    line-height: 80px;
}

.nav_brand h1 {
    font-size: 24px;
    font-weight: 500;
    display: inline;
    color: #3F3D56;
    margin-right: 25vw;
}

.nav{
    display: inline;
}

.nav li{
    display: inline;
    padding-left: 25px;
}

.nav li a{
    font-weight: 500;
    font-size: 18px;
    color: #3F3D56;
}

#login{
    width: auto;
    height: 20px;
}

/* MAIN LANDING PAGE STUFF */

.landing_text {
    display: inline;
    position: absolute;
    left: 20vw;
    top: 35vh;
}

.landing_text h2 {
    font-weight: 700;
    font-size: 36px;
    width: 20vw;
}

.landing_text p {
    font-size: 18px;
    width: 20vw;
    margin-bottom: 20px;
}

.landing_text a{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #3F3D56;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.landing_text a:hover{
    background-color: rgb(87, 84, 117);
    border-radius: 4px;
}

.container_landing img {
    height: auto;
    max-width: 35vw;
    position: absolute;
    right: 20vw;
    top: 30vh;
}

/* FORUM PAGE */

#dashboard{
    width: auto;
    height: 20px;
}

#logout{
    width: auto;
    height: 20px;
}

/* REGISTER PAGE & LOGIN PAGE & CONTACT PAGE */

.container_register_login_contact{
    margin: 0 20vw 0 20vw;
}

.container_register_login_contact form{
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 30vw;
}

.container_register_login_contact form h4{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.container_register_login_contact form p{
    margin-bottom: 10px;
}

.container_register_login_contact form input{
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', 'FontAwesome', sans-serif;
}

#Name{
    background-image: url('../img/user_vector.svg');
    width: 20vw;
}
#Mail{
    background-image: url('../img/email_vector.svg');
    width: 20vw;
}
#Adress{
    background-image: url('../img/house_vector.svg');
    width: 20vw;
}
#Phone{
    background-image: url('../img/phone_vector.svg');
    width: 20vw;
}
#Phone::-webkit-inner-spin-button,
#Phone::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: nteone;
}
#cMessage{
    background-image: url('../img/message_vector.svg');
    background-size: 30px;
    background-position: 7px 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 45px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    width: 20vw;
    resize: none;
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', 'FontAwesome', sans-serif;
}
#cMessage:focus{
    outline: none;
    border: 2px solid #3F3D56;
}

.pass{
    background-image: url('../img/key_vector.svg');
    width: 20vw;
}

.container_register_login_contact form input{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 16px;
    padding: 12px 20px 12px 45px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
}

.container_register_login_contact form input:focus{
    outline: none;
    border: 2px solid #3F3D56;
}

.flname{
    display: inline !important;
    background-image: url('../img/user_vector.svg');
    width: 9.90vw;
}

.container_register_login_contact form button{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
}

.container_register_login_contact img{
    height: auto;
    max-width: 35vw;
    position: absolute;
    right: 15vw;
    top: 25vh;
}

/* MISC */

#watermark{
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: rgb(212, 211, 211);
}

/* DASHBOARD */

/* EDIT PROFILE CHANGE PASSWORD BUTTON */
#edit_profile_button, #change_password_button{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}
#edit_profile_button:hover, #change_password_button:hover{
    background-color: rgb(109, 106, 150);
}

#edit_profile_button{
    position: absolute;
    top: 20vh;
    left: 20vw;
}
#change_password_button{
    position: absolute;
    top: 25vh;
    left: 20vw;
}

.go_dashboard_back{
    position: absolute;
    top: 15vh;
    left: 20vw;
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.go_dashboard_back:hover{
    background-color: rgb(77, 74, 105);
    
    color: white;
}

/* FORUM */

.newPost{
    position: absolute;
    top: 22.5vh;
    right: 14vw;
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.featured_posts{
    background-color: rgba(202, 202, 202, 0.2);
    width: 75vw;
    position: absolute;
    top: 30vh;
    left: 10vw;
    border-radius: 10px;
}

.selected_post{
    background-color: rgba(202, 202, 202, 0.2);
    width: 50vw;
    position: absolute;
    top: 30vh;
    left: 10vw;
    border-radius: 10px;
}

.post_container{
    border-bottom: 2px solid rgba(63, 61, 86, 0.5);
    width: 90%;
    margin: 2% auto 10px auto;
}

.post_title{
    font-size: 22px;
    color: #3F3D56;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.edit_post{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #3F3D56;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.del_post{
    margin: 10px 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 82, 82);
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.post_title:hover, .edit_post:hover{
    text-decoration: underline;
}

.post_desc{
    color: #ccc;
    font-size: 12px;
    padding-bottom: 10px;
}

.post_owner{
    display: inline !important;
}

.post_body{
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    padding-top: 10px;
    word-break: break-all;
}

/* NEW POST FORM */

.new_post_container{
    margin: 15vh auto 0 auto;
    width: 20vw;
}


.new_post_container form h4{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.new_post_container form p{
    margin-bottom: 10px;
}

.new_post_container input{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    outline: none;
    width: 20vw;
}

.new_post_container textarea{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    width: 20vw;
    resize: none;
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', 'FontAwesome', sans-serif;
    outline: none;
}

.new_post_container button{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
}

.new_post_container input:focus, .new_post_container textarea:focus{
    outline: none;
    border: 2px solid #3F3D56;
}

/* EDIT POST */

.edit_post_container{
    width: 90%;
    margin: 2% auto 10px auto;
}

.edit_post_container form{
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
}

.edit_post_container h4{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.edit_post_container p{
    margin-bottom: 10px;
}

.edit_post_title{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    outline: none;
    width: 40vw;
}

.edit_post_body{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    width: 40vw;
    height: 45vh;
    resize: none;
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', 'FontAwesome', sans-serif;
    outline: none;
}

.edit_post_submit{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
}

/* COMMENTS */

.comments{
    background-color: rgba(202, 202, 202, 0.2);
    width: 35vw;
    height: 60vh;
    position: absolute;
    top: 30vh;
    left: 61vw;
    border-radius: 10px;
    overflow: hidden;
}

.add_comment textarea{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    transition: all ease-in-out .2s;
    color: #3F3D56 ;
    resize: none;
    display: block;
    margin: 10px 0 0 20px;
    font-family: 'Roboto', 'FontAwesome', sans-serif;
    outline: none;
    display: inline;
}

.add_comment #submit_comment{
    background-color: #3F3D56;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 12px;
    text-decoration: none;
    margin: 0px 0px;
    cursor: pointer;
    display: inline;
}

.posted_comments{
    width: 35vw;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.posted_comments_each{
    border: solid 1px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    width: 90%;
}

.posted_comments .comment_owner{
    color: #212121;
    font-weight: 500;
}

.posted_comments .comment_body{
    font-size: 110%;
    width: 100%;
    word-break: break-all;
}

.del_comment{
    margin: 10px 0 0 2px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(197, 82, 82);
    border: none;
    padding: 3px!important;
    border-radius: 2px;
    cursor: pointer;
}